@model List<JobHuntingApp.ViewModels.DashboardViewModel>

@{
    ViewData["Title"] = "Dashboard";
    var PeopleList = ViewData["People"] as List<JobHuntingApp.Models.Person>;
    var jobOpeningCounter = 0;
    var textAreaCounter = 0;
}

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=bsb5d78ljlux801o8brxchv9rap7jinay2rp3fdmxhyqriq1"></script>
<script src="~/js/tinyMCE-Config.js"></script>
<div class="container">
    <div class="row">
        <div class="col-lg-10">


            <div id="accordion" class="panel-group">
                @foreach (JobHuntingApp.ViewModels.DashboardViewModel listing in Model)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href=@string.Format("#collapse{0}", listing.JobOpeningID)>
                                    @listing.JobOpeningTitle
                                </a>
                                | @listing.CompanyName | <span class="pull-right">Next Action | Record Contact</span>
                            </h4>
                        </div>
                        <div id=@string.Format("collapse{0}", listing.JobOpeningID) class="panel-collapse collapse ">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Researched
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Cover Letter Written
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Applied
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Followed Up
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Interview Scheduled
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-4">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target=@string.Format("#jobDescriptionModal{0}", listing.JobOpeningID)>View Description</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target=@string.Format("#coverLetterModal{0}", listing.JobOpeningID)>Write Cover Letter</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target=@string.Format("#applicationModal{0}", listing.JobOpeningID)>Record Application</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target=@string.Format("#followUpModal{0}", listing.JobOpeningID)>Record Follow Up</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target=@string.Format("#scheduleInterviewModal{0}", listing.JobOpeningID)>Schedule Interview</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-6">
                                            <h3>People:</h3>
                                            <div class="container-fluid">
                                                @foreach (var person in ViewData["People"] as List<JobHuntingApp.Models.Person>)
                                                {
                                                    if (person.CompanyID == listing.CompanyID)
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                @person.FirstName 
                                                            </div>

                                                            <div class="col-xs-3">
                                                                @person.LastName
                                                            </div>
                                                            <div class="col-xs-6">
                                                                @person.Phone
                                                            </div>
                                                        </div>
                                                    }

                                                }
                                            </div>                                            
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3>Job Notes</h3>
                                            @if (listing.JobOpeningNotes != null)
                                            {
                                                @Html.Raw(listing.JobOpeningNotes.ToString())
                                            }
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <h3>Company Notes</h3>
                                            @if (listing.CompanyNotes != null)
                                            {
                                                @Html.Raw(listing.CompanyNotes.ToString())
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <!-- Job description Modal -->
                    <div class="modal fade" id=@string.Format("jobDescriptionModal{0}", listing.JobOpeningID) role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@listing.JobOpeningTitle</h4>
                                </div>
                                <div class="modal-body">
                                    @Html.Raw(listing.JobOpeningDescription.ToString())
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--------------------------------------------------------->
                    <div class="modal fade" id=@string.Format("coverLetterModal{0}", listing.JobOpeningID) role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Cover Letter for @listing.JobOpeningTitle</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name=@string.Format("clJobID{0}", listing.JobOpeningID) id=@string.Format("clJobID{0}", listing.JobOpeningID) value="@listing.JobOpeningID" />
                                    <input type="hidden" name=@string.Format("jobListingCount{0}", textAreaCounter) id="@string.Format("jobListingCount{0}", textAreaCounter)" value="@textAreaCounter" />
                                    @{  
                                        List<CoverLetter> coverLetterList = (List<CoverLetter>)ViewData["CoverLetters"]; 
                                    }
                                    <textarea name="coverLetterTextInput" id="coverLetterTextInput" class="form-control" style="min-width: 100%">
                            @if (coverLetterList.SingleOrDefault(x => x.JobID == listing.JobOpeningID) != null)
                            {
                                @coverLetterList.SingleOrDefault(x => x.JobID == listing.JobOpeningID).CoverLetterText
                            }
                        </textarea>
                                    @{ textAreaCounter++;}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default cl-save" data-dismiss="modal">Save & Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
        <!-- Modal for recording that an application has been submitted for the job opening.-->
                    <div class="modal fade" id=@string.Format("applicationModal{0}", listing.JobOpeningID) role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Application for @listing.JobOpeningTitle</h4>
                                </div>
                                <div class="modal-body">
                                    @{ 
                                        var currentApplication = (ViewData["Applications"] as List<Application>).SingleOrDefault(ap => ap.JobID == listing.JobOpeningID);
                                    }
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="label">Applied on:</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control date-picker" 
                                                   id=@string.Format("applicationSubmitted{0}", listing.JobOpeningID) 
                                                   name=@string.Format("applicationSubmitted{0}", listing.JobOpeningID)
                                                   @if (ViewData["Applications"] != null && (ViewData["Applications"] as List<Application>).Any(x => x.JobID == listing.JobOpeningID)) {
                                                       @string.Format("value={0}", currentApplication.ApplicationSubmitted.ToShortDateString())
                                                   } />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="label">Applied via:</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select id=@string.Format("applicationMethod{0}", listing.JobOpeningID) name=@string.Format("applicationMethod{0}", listing.JobOpeningID) class="form-control">
                                                @{ 
                                                    foreach (ApplicationMethod enumValue in Enum.GetValues(typeof(ApplicationMethod)))
                                                    {
                                                        if(ViewData["Applications"] != null && (ViewData["Applications"] as List<Application>).Any(ap => ap.JobID == listing.JobOpeningID))
                                                        {
                                                            if(enumValue == currentApplication.ApplicationMethod)
                                                            {
                                                                <option value="@enumValue" selected="selected">@enumValue</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@enumValue">@enumValue</option>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <option value="@enumValue">@enumValue</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    @if ((((List<Resume>)ViewData["Resumes"]) != null && ((List<Resume>)ViewData["Resumes"]).Count() > 0))
                                    {
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <div class="label">Resume used:</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <select id=@string.Format("applicationResume{0}", listing.JobOpeningID) name=@string.Format("applicationResume{0}", listing.JobOpeningID) class="form-control">
                                                    <option value="0">Select Resume</option>
                                                    @foreach (var item in ViewData["Resumes"] as List<Resume>)
                                                    {
                                                        if (ViewData["Applications"] != null && (ViewData["Applications"] as List<Application>).Any(ap => ap.JobID == listing.JobOpeningID))
                                                        {
                                                            if (item.ResumeID == currentApplication.ResumeID)
                                                            {
                                                                <option value="@item.ResumeID" selected="selected">@item.ResumeTitle</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.ResumeID">@item.ResumeTitle</option>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ResumeID">@item.ResumeTitle</option>
                                                        }


                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="modal-footer">                                    
                                    <button type="button" class="btn btn-default ap-save" data-dismiss="modal">Save & Close</button>
                                    <input type="hidden" name=@string.Format("apJobID{0}", listing.JobOpeningID) id=@string.Format("apJobID{0}", listing.JobOpeningID) value="@listing.JobOpeningID" />
                                    @if (currentApplication != null)
                                    {
                                        <input type="hidden" name=@string.Format("applicationID{0}", listing.JobOpeningID) id=@string.Format("applicationID{0}", listing.JobOpeningID) value="@currentApplication.ApplicationID" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name=@string.Format("applicationID{0}", listing.JobOpeningID) id=@string.Format("applicationID{0}", listing.JobOpeningID) value="" />

                                    }

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal fade" id=@string.Format("followUpModal{0}", listing.JobOpeningID) role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Follow up for @listing.JobOpeningTitle</h4>
                                </div>
                                <div class="modal-body">
                                    
                                    @{  List<FollowUp> followUpsList = (List<FollowUp>)ViewData["FollowUps"];
                                        var currentFollowUp = followUpsList.SingleOrDefault(x => x.JobID == listing.JobOpeningID);}
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <span class="label">Made contact:</span>
                                        </div>
                                        <div class="col-sm-9">
                                            <!-- date date-picker-->
                                            <input type="text" name=@string.Format("followUpOccured{0}", listing.JobOpeningID) id=@string.Format("followUpOccured{0}", listing.JobOpeningID) 
                                                   @if (currentFollowUp != null){
                                                       @string.Format("value={0}", currentFollowUp.FollowUpOccured.ToShortDateString())
                                                   }
                                                    class="form-control date-picker" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <span class="label">Contact method:</span>
                                        </div>
                                        <div class="col-sm-9">                                            
                                            <select type="text" name=@string.Format("followUpContactMethod{0}", listing.JobOpeningID) id=@string.Format("followUpContactMethod{0}", listing.JobOpeningID) class="form-control" >                                                
                                                @foreach (ContactType enumValue in Enum.GetValues(typeof(ContactType)))
                                                {
                                                    if(ViewData["Applications"] != null && (ViewData["Applications"] as List<Application>).Any(ap => ap.JobID == listing.JobOpeningID))
                                                    {
                                                        if(enumValue == currentFollowUp.FollowUpMethod)
                                                        {
                                                            <option value="@enumValue" selected="selected">@enumValue</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@enumValue">@enumValue</option>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <option value="@enumValue">@enumValue</option>
                                                    }
                                                }
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <span class="label">Notes</span>
                                        </div>
                                        <div class="col-sm-9">
                                            <textarea name=@string.Format("followUpNotes{0}", listing.JobOpeningID) id=@string.Format("followUpNotes{0}", listing.JobOpeningID) class="form-control">
                                                @if(currentFollowUp != null)
                                                {
                                                    @currentFollowUp.FollowUpNotes
                                                }
                                            </textarea>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name=@string.Format("textAreaCount{0}", textAreaCounter) id="@string.Format("textAreaCount{0}", textAreaCounter)" value="@textAreaCounter" />
                                    @{ textAreaCounter++;}
                                    <button type="button" class="btn btn-default followUp-save" data-dismiss="modal">Save & Close</button>
                                    <input type="hidden" name=@string.Format("followUpJobID{0}", listing.JobOpeningID) id=@string.Format("followUpJobID{0}", listing.JobOpeningID) value="@listing.JobOpeningID" />
                                    <input type="hidden" name=@string.Format("followUpID{0}", listing.JobOpeningID) id=@string.Format("followUpID{0}", listing.JobOpeningID) value="@((currentFollowUp == null) ? 0 : currentFollowUp.FollowUpID);" />

                                </div>
                            </div>

                        </div>
                    </div>









                                            jobOpeningCounter++;
                                        }


            </div>

        </div>
        <div class="col-lg-2">
            <h3>Tasks</h3>
            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </div>
    </div>
</div>