@model List<JobHuntingApp.ViewModels.DashboardViewModel>

@{
    ViewData["Title"] = "Dashboard";
    var PeopleList = ViewData["People"] as List<JobHuntingApp.Models.Person>;
}


<div id="accordion" class="panel-group">
    @foreach (JobHuntingApp.ViewModels.DashboardViewModel listing in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href=@string.Format("#collapse{0}", listing.JobOpeningID)>
                        @listing.JobOpeningTitle
                    </a>
                    | @listing.CompanyName | <span class="pull-right">Next Action | Record Contact</span>
                </h4>
            </div>
            <div id=@string.Format("collapse{0}", listing.JobOpeningID) class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Researched
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Cover Letter Written
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Applied
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Followed Up
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Interview Scheduled
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=@string.Format("#jobDescriptionModal{0}", listing.JobOpeningID)>View Description</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=@string.Format("#coverLetterModal{0}", listing.JobOpeningID)>Write Cover Letter</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=@string.Format("#applicationModal{0}", listing.JobOpeningID)>Record Application</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=@string.Format("#followUpModal{0}", listing.JobOpeningID)>Record Follow Up</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=@string.Format("#scheduleInterviewModal{0}", listing.JobOpeningID)>Schedule Interview</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-4">
                                @foreach (var person in ViewData["People"] as List<JobHuntingApp.Models.Person>)
                                {
                                    if (person.CompanyID == listing.CompanyID)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">
                                                @person.FirstName @person.LastName
                                            </div>
                                            <div class="col-xs-6">
                                                @person.Phone
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Job Notes</h3>
                                <p>@listing.JobOpeningNotes</p>
                            </div>
                            <div class="col-sm-4">
                                <h3>Company Notes</h3>
                                <p>@listing.CompanyNotes</p>
                            </div>
                            <div class="col-sm-4">
                                <h3>Tasks?</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job description Modal -->
        <div class="modal fade" id=@string.Format("jobDescriptionModal{0}", listing.JobOpeningID) role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@listing.JobOpeningTitle</h4>
                    </div>
                    <div class="modal-body">
                        <p>@listing.JobOpeningDescription</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id=@string.Format("coverLetterModal{0}", listing.JobOpeningID) role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cover Letter for @listing.JobOpeningTitle</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name=@string.Format("clJobID{0}", listing.JobOpeningID) id=@string.Format("clJobID{0}", listing.JobOpeningID) value="@listing.JobOpeningID" />

                        @{  List<CoverLetter> coverLetterList = (List<CoverLetter>)ViewData["CoverLetters"]; }
                        <textarea name="coverLetterTextInput" id="coverLetterTextInput" class="form-control" style="min-width: 100%; min-height: 400px">
                            @if (coverLetterList.SingleOrDefault(x => x.JobID == listing.JobOpeningID) != null)
                            {
                                @coverLetterList.SingleOrDefault(x => x.JobID == listing.JobOpeningID).CoverLetterText
                            }
                        </textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default cl-save" data-dismiss="modal">Save & Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
    
 
</div>