@model JobHuntingApp.Models.JobOpening

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobOpening</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobOpeningTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOpeningTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobOpeningRecorded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOpeningRecorded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobOpeningSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOpeningSource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobOpeningUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOpeningUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobOpeningDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOpeningDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobOpeningNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOpeningNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobOpeningActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOpeningActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobOpeningID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
